#map, #stationsMap { 
	height: 700px;
	width: 100%;
}

.margin-small {
	margin: 0 20px;
}

.navbar-default {
	margin-bottom: 0px;
}

img.tfgm {
	width: 3em;
	float: left;
	position: relative;
	top: 0.7em;
	margin-right: 1em;
}

.icon {
	font-size: 4em;
	z-index: 200;
	position: absolute;
	margin-top: 5px;
	text-align: center;
	width: 100%;
	color: white;
	display: inline;
}